<div class="row row-xs-center">
  <div class="col-xs-12 col-sm-10 col-md-6">
    <!--    <div class="alert alert-danger" *ngIf="error">-->
    <!--      <p>{{ error }}</p>-->
    <!--    </div>-->
    <!--    <div *ngIf="isLoading">-->
    <!--      <app-loading-spinner></app-loading-spinner>-->
    <!--    </div>-->
    <h2>Password reset</h2>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Enter your email"
               [formControl]="email"
               required
        >
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!passwordResetForm.valid">Reset password</button>
      </div>
    </form>
  </div>
</div>
