.mat-toolbar {
  justify-content: space-between;
}

.nav {
  display: flex;
  margin-left: -20px;

  > li {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: darkblue;
    }
  }
}

.nav-item {
  cursor: pointer;
}
